<%= form_for(@yfcase) do |f| %>
  <% if @yfcase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@yfcase.errors.count, "error") %> prohibited this yfcase from being saved:</h2>

      <ul>
      <% @yfcase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :casenumber,"案號" %>
    <%= f.text_field :casenumber, size: 30 %>
    <%= f.label :address,"地址" %>
    <%= f.text_field :address, size: 90 %>
  </div>

  <div class="field">
    <%= f.label :debtor,"債務人" %>
    <%= f.text_field :debtor %>
    <%= f.label :creditor,"債權人" %>
    <%= f.text_field :creditor %>
  </div>
  
  <div class="field">
    <h3>地號</h3>
    <div id="lands">
        <%= f.fields_for :lands do |land| %>

            <%= render 'land_fields', f: land %>

        <% end %>
        <div class="links">
            <%= link_to_add_association '新增地號', f, :lands %>
        </div>
    </div>
  </div>

  <div class="field">
    <h3>建號</h3>
    <div id="builds">
        <%= f.fields_for :builds do |build| %>
            <%= render 'build_fields', f: build %>
        <% end %>
        <div class="links">
            <%= link_to_add_association '新增建號', f, :builds %>
        </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :buildurl,"建號謄本" %>
    <%= f.text_field :buildurl %>
  </div>
  <div class="field">
    <%= f.label :buildarea,"建坪" %>
    <%= f.number_field :buildarea, :step => 0.01 %>
  </div>
  <div class="field">
    <%= f.label :buildholdingpointperson,"建坪持分(個人)" %>
    <%= f.number_field :buildholdingpointperson %>
  </div>
    <div class="field">
    <%= f.label :buildholdingpointall,"建坪持分(所有)" %>
    <%= f.number_field :buildholdingpointall %>
  </div>
  <div class="field">
    <%= f.label :buildtype,"建物型/使用" %>
    <%= f.select(:buildtype,Yfcase::CLASS_LIST) %>
  </div>
  <div class="field">
    <%= f.label :usearea,"使用分區" %>
    <%= f.select(:usearea,Yfcase::AREA_LIST) %>
  </div>
  

  <div class="field">
    <%= f.label :auctionday,"拍賣日" %>
    <%= f.date_select :auctionday,use_month_numbers: true %>
  </div>
  <div class="field">
    <%= f.label :auctionlevel,"拍別" %>
    <%= f.select(:auctionlevel,Yfcase::AUCTION_LIST) %>
  </div>
  <div class="field">
    <%= f.label :floorprice,"底價(NT)" %>
    <%= f.number_field :floorprice %>
  </div>

  <div class="field">
    <%= f.label :click,"點閱" %>
    <%= f.number_field :click %>
  </div>

  <div class="field">
    <%= f.label :monitor,"監控" %>
    <%= f.number_field :monitor %>
  </div>

  <div class="field">
    <%= f.label :suggestedincrease,"建議加價" %>
    <%= f.number_field :suggestedincrease %>
  </div>
  <div class="field">
    <%= f.label :margin,"保証金" %>
    <%= f.number_field :margin %>
  </div>


  <div class="field">
    <%= f.label :firstsurveydate,"初勘日期" %>
    <%= f.date_select :firstsurveydate,use_month_numbers: true %>
  </div>
  <div class="field">
    <%= f.label :othersurveydate,"會勘日期" %>
    <%= f.date_select :othersurveydate,use_month_numbers: true %>
  </div>

  <div class="field">
    <h3>物件資料</h3>            
      <div id="objectbuilds">
        <%= f.fields_for :objectbuilds do |objectbuild| %>
          <%= render 'objectbuild_fields', f: objectbuild %>
        <% end %>
      <div class="links">
        <%= link_to_add_association '新增物件', f, :objectbuilds %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :foreclosureannouncement,"法拍公告(證物三)" %>
    <%= f.text_field :foreclosureannouncement %>
    <%= f.text_field :foreclosureannouncementlink, size: 60 %>
  </div>
  <div class="field">
    <%= f.label :objectphotos,"物件照片(證物四)" %>
    <%= f.text_field :objectphotos %>
    <%= f.text_field :objectphotoslink, size: 60 %>
  </div>
  <div class="field">
    <%= f.label :registeredmarketprice,"實價登錄市價" %>
    <%= f.text_field :registeredmarketprice %>
    <%= f.text_field :registeredmarketpricelink, size: 60 %>
  </div>

  <div class="field">
    <%= f.label :registrationmap,"實價登錄地圖(證物五)" %>
    <%= f.text_field :registrationmap %>
    <%= f.text_field :registrationmaplink, size: 60 %>
  </div>
  <div class="field">
    <%= f.label :registrationphoto,"實價登錄照片(證物六)" %>
    <%= f.text_field :registrationphoto %>
    <%= f.text_field :registrationphotolink, size: 60 %>
  </div>
  <div class="field">
    <%= f.label :foreclosurerecord,"法拍記錄(證物七)" %>
    <%= f.text_field :foreclosurerecord %>
    <%= f.text_field :foreclosurerecordlink, size: 60 %>
  </div>
  <div class="field">
    <%= f.label :surveyremark,"備註" %>
    <%= f.text_field :surveyremark, size: 60 %>
  </div>


  <div class="field">
    <%= f.label :surveyresolution,"會勘決議" %>
    <%= f.text_field :surveyresolution %>
  </div>


  <div class="field">
    <%= f.label :finaldecisionheader,"區域負責人" %>
    <%= f.text_field :finaldecisionheader %>
  </div>
  <div class="field">
    <%= f.label :finaldecisionconclusion,"結論" %>
    <%= f.select(:finaldecisionconclusion,Yfcase::JUDGMENT_LIST)  %>
  </div>
  <div class="field">
    <%= f.label :finaldecisionsurveyordecide1,"勘查員1" %>
    <%= f.text_field :finaldecisionsurveyordecide1 %>
  </div>
  <div class="field">
    <%= f.label :finaldecisionsurveyordecide2,"勘查員2" %>
    <%= f.text_field :finaldecisionsurveyordecide2 %>
  </div>
  <div class="field">
    <%= f.label :finaldecisionsurveyordecide3,"勘查員3" %>
    <%= f.text_field :finaldecisionsurveyordecide3 %>
  </div>
  <div class="field">
    <%= f.label :finaldecisionsurveyordecide4,"勘查員4" %>
    <%= f.text_field :finaldecisionsurveyordecide4 %>
  </div>
  <div class="field">
    <%= f.label :finaldecisionsurveyordecide5,"勘查員5" %>
    <%= f.text_field :finaldecisionsurveyordecide5 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
