<%= form_for(@yfcase) do |f| %>
  <% if @yfcase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@yfcase.errors.count, "error") %> prohibited this yfcase from being saved:</h2>

      <ul>
      <% @yfcase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h3>基本資料</h3>

<table id="basedata">
    <tr>
        <th>
            <%= f.label :casenumber,"案號" %>
        </th>
        <td>
            <%= f.text_field :casenumber, :style => "width: 100%" %>
        </td>
        <th>
            <%= f.label :address,"地址" %>
        </th>
        <td>
            <%= f.collection_select :county_id, County.order(:name), :id, :name, include_blank: true %>
        </td>
        <td>
            <%= f.grouped_collection_select :township_id, County.order(:name), :township, :name, :id, :name, include_blank: true %>
        </td>
        <td>
            <%= f.text_field :address, :style => "width: 100%" %>
        </td>
    </tr>
</table>
  <br>


 <div class="field">
    <h3>相關人員</h3>
    <div> 
      <%= f.check_box :co_owner %>
      <%= f.label :co_owner,"土地 / 建物共有人是否一致", style: "color:red;" %>
    </div>

    <div id="relatedpersonnels">
        <%= f.fields_for :personnals do |personnal| %>
            <%= render 'personnal_fields', f: personnal %>
        <% end %>
        <div class="links">
            <%= link_to_add_association '新增相關人員', f, :personnals, class: "btn btn-success btn-sm" %>
        </div>
    </div>
  </div>

 
<br>
<h3>拍賣資訊</h3>
<table style="border:1px solid #000;width:100%;">
  <tr>
    <th style="width:5%"><%= f.label :auctionlevel,"拍別" %></th>
    <th style="width:5%"><%= f.label :auctionday,"拍賣日" %></th>
    <th style="width:9%"><%= f.label :floorprice,"底價(NT)" %></th>
    <th style="width:5%"><%= f.label :click,"點閱" %></th>
    <th style="width:5%"><%= f.label :monitor,"監控" %></th>
    <th style="width:5%"><%= f.label :margin,"保証金" %></th>
  </tr>

  <tr>
    <th><%= f.label :auctionlevel1,"第一拍" %></th>
    <td><%= f.text_field :auctionday1, class: "datepicker" %></td>
    <td><%= f.number_field :floorprice1, in: 0..100000000, :required => true %></td>
    <td><%= f.number_field :click1 %></td>
    <td><%= f.number_field :monitor1 %></td>
    <td><%= f.number_field :margin1 %></td>
  </tr>

  <tr>
    <th><%= f.label :auctionlevel2,"第二拍" %></th>
    <td><%= f.text_field :auctionday2, class: "datepicker" %></td>
    <td><%= f.number_field :floorprice2, in: 0..100000000, :required => true %></td>
    <td><%= f.number_field :click2 %></td>
    <td><%= f.number_field :monitor2 %></td>
    <td><%= f.number_field :margin2 %></td>
  </tr>

  <tr>
    <th><%= f.label :auctionlevel3,"第三拍" %></th>
    <td><%= f.text_field :auctionday3, class: "datepicker" %></td>
    <td><%= f.number_field :floorprice3, in: 0..100000000, :required => true %></td>
    <td><%= f.number_field :click3 %></td>
    <td><%= f.number_field :monitor3 %></td>
    <td><%= f.number_field :margin3 %></td>
  </tr>

  <tr>
    <th><%= f.label :auctionlevel4,"第四拍" %></th>
    <td><%= f.text_field :auctionday4, class: "datepicker" %></td>
    <td><%= f.number_field :floorprice4, in: 0..100000000, :required => true %></td>
    <td><%= f.number_field :click4 %></td>
    <td><%= f.number_field :monitor4 %></td>
    <td><%= f.number_field :margin4 %></td>
  </tr>
</table>


 <div class="field">
    <h3>地號</h3>
    <div id="lands">
        <%= f.fields_for :lands do |land| %>

            <%= render 'land_fields', f: land %>

        <% end %>
        <div class="links">
            <%= link_to_add_association '新增地號', f, :lands, class: "btn btn-success btn-sm" %>
        </div>
    </div>
  </div>

  <div class="field">
    <h3>建號</h3>
    <div id="builds">
        <%= f.fields_for :builds do |build| %>
            <%= render 'build_fields', f: build %>
        <% end %>
        <div class="links">
            <%= link_to_add_association '新增建號', f, :builds, class: "btn btn-success btn-sm" %>
        </div>
    </div>
  </div>

<h3>建物查檢表</h3>
<%= render partial: "buildchecklist", locals: {f: f} %>


<h3>勘查記錄</h3>
<table id="surveyrecord">
  <tr>
    <th style="width:20%"><%= f.label :firstsurveydate,"初勘日期" %></th>
    <td colspan="2"><%= f.date_select :firstsurveydate,use_month_numbers: true %></td>
  </tr>
  <tr>
    <th style="width:20%"><%= f.label :othersurveydate,"會勘日期" %></th>
    <td colspan="2"><%= f.date_select :othersurveydate,use_month_numbers: true %></td>
  </tr> 
  <tr>
     <th style="width:20%">勘查項目</th>
     <th>超連結文字</th>
     <th>超連結路徑</th>
   </tr> 


  <tr>
    <th rowspan="2" style="width:20%">
      <%= f.label :foreclosureannouncement,"法拍公告(證物三)", :style => "width: 100%" %>
    </th>
    <td><%= f.text_field :foreclosureannouncementtext, :style => "width: 100%" %></td>
    <td><%= f.text_field :foreclosureannouncementlink, :style => "width: 100%" %></td>
  </tr>
  <tr>
    <td colspan="2"><%= f.text_area :foreclosureannouncement, size: "125x6" %></td>
  </tr>



  <tr>
    <th style="width:20%"><%= f.label :objectphotos,"物件照片(證物四)", :style => "width: 100%" %></th>
    <td><%= f.text_field :objectphotos, :style => "width: 100%" %></td>
    <td><%= f.text_field :objectphotoslink, :style => "width: 100%" %></td>
  </tr>
  <tr>
    <th rowspan="2" style="width:20%"><%= f.label :registeredmarketprice,"實價登錄市價", :style => "width: 100%"  %></th>
    <td><%= f.text_field :registeredmarketpricetext, :style => "width: 100%" %></td>
    <td><%= f.text_field :registeredmarketpricelink, :style => "width: 100%" %></td>
  </tr>
  <tr>
    <td colspan="2"><%= f.text_area :registeredmarketprice, size: "125x6" %></td>
  </tr>
  <tr>
    <th style="width:20%"><%= f.label :registrationmap,"實價登錄地圖(證物五)", :style => "width: 100%" %></th>
    <td><%= f.text_field :registrationmap, :style => "width: 100%" %></td>
    <td><%= f.text_field :registrationmaplink, :style => "width: 100%" %></td>
  </tr>
  <tr>
    <th style="width:20%"><%= f.label :registrationphoto,"實價登錄照片(證物六)", :style => "width: 100%" %></th>
    <td><%= f.text_field :registrationphoto, :style => "width: 100%" %></td>
    <td><%= f.text_field :registrationphotolink, :style => "width: 100%" %></td>
  </tr>
  <tr>
    <th style="width:20%"><%= f.label :foreclosurerecord,"法拍記錄(證物七)", :style => "width: 100%" %></th>
    <td><%= f.text_field :foreclosurerecord, :style => "width: 100%" %></td>
    <td><%= f.text_field :foreclosurerecordlink, :style => "width: 100%" %></td>
  </tr>
  <tr>
    <th style="width:20%"><%= f.label :surveyremark,"備註", :style => "width: 100%" %></th>
    <td colspan="2"><%= f.text_field :surveyremark , :style => "width: 100%" %></td>
  </tr>
  <tr>
    <th style="width:20%"><%= f.label :surveyresolution,"會勘決議", :style => "width: 100%" %></th>
    <td colspan="2"><%= f.text_field :surveyresolution , :style => "width: 100%" %></td>
  </tr>
</table> 

  <div class="field">
    <h3>物件資料</h3>            
      <div id="objectbuilds">
        <%= f.fields_for :objectbuilds do |objectbuild| %>
          <%= render 'objectbuild_fields', f: objectbuild %>
        <% end %>
      <div class="links">
        <%= link_to_add_association '新增物件', f, :objectbuilds, class: "btn btn-success btn-sm" %>
      </div>
    </div>
  </div>

<h3>最終判定</h3>
<table id="finaldecision">
  <tr>
    <th><%= f.label :finaldecisionconclusion,"結論" %></th>
    <td><%= f.select(:finaldecisionconclusion,Yfcase::JUDGMENT_LIST) %></td>

  </tr>

</table>



<!--   <div class="field">
    <%= f.label :finaldecisionsurveyordecide1,"勘查員1" %>
    <%= f.text_field :finaldecisionsurveyordecide1 %>
  </div>
  <div class="field">
    <%= f.label :finaldecisionsurveyordecide2,"勘查員2" %>
    <%= f.text_field :finaldecisionsurveyordecide2 %>
  </div>
  <div class="field">
    <%= f.label :finaldecisionsurveyordecide3,"勘查員3" %>
    <%= f.text_field :finaldecisionsurveyordecide3 %>
  </div> -->

  <br>

  <div class="actions">
    <%= f.submit "更新YF評量表" %>
  </div>
<% end %>

<script type="text/javascript">

  $('.datepicker').datepicker({
    dateFormat: "yy-mm-dd",
    changeMonth: true,
    changeYear: true
  });

</script>