<div class="nested-fields">
    <div class="field" style="border:1px solid #000;">
        <table>
            <tr>
                <th><%= f.label :address,"地址" %></th>
                <th><%= f.label :totalprice,"總價(萬)" %></th>
                <th><%= f.label :buildarea,"建坪(萬)" %></th>
                <th><%= f.label :house,"屋齡(年)" %></th>
                <th><%= f.label :unit,"單位" %></th>
                <th><%= f.label :floorheight,"樓高" %></th>
                <th><%= f.label :surveyora,"勘查員A" %></th>
                <th><%= f.label :plusa,"加成A" %></th>
                <th><%= f.label :surveyorb,"勘查員B" %></th>
                <th><%= f.label :plusb,"加成B" %></th>
                <th><%= f.label :objectbuildurl,"附件連結" %></th>
                <th>項目</th>
            </tr>
            <tr>
                <td><%= f.text_field :address %></td>
                <td><%= f.text_field :totalprice, size: "6" %></td>
                <td><%= f.text_field :buildarea, size: "6" %>  </td>
                <td><%= f.text_field :house, size: "5" %></td> 
                <td><%= f.text_field :unit %>  </td>
                <td><%= f.text_field :floorheight, size: "4" %></td>
                <td><%= f.text_field :surveyora, size: "8" %></td>
                <td><%= f.text_field :plusa, size: "4" %></td>
                <td><%= f.text_field :surveyorb, size: "8" %></td>
                <td><%= f.text_field :plusb, size: "4" %></td>
                <td><%= f.text_field :objectbuildurl, size: "4" %></td>
                <td><%= link_to_remove_association "刪除物件", f, class: "btn btn-danger btn-sm" %></td>
            </tr>
        </table>
    	 
    </div>
</div>

                          