<div class="nested-fields">
    <div class="field">
        <%= f.label :address %>
        <%= f.text_field :address %>
        <%= f.label :totalprice %>
        <%= f.text_field :totalprice %>
        <%= f.label :buildarea %>
        <%= f.text_field :buildarea %>  
        <%= f.label :unitprice %>
        <%= f.text_field :unitprice %>
        <%= f.label :house %>
        <%= f.text_field :house %>
        <%= f.label :unit %>
        <%= f.text_field :unit %>        
        <%= f.label :floorheight %>
        <%= f.text_field :floorheight %>
        <%= f.label :surveyora %>
        <%= f.text_field :surveyora %>
        <%= f.label :surveyorb %>
        <%= f.text_field :surveyorb %>
        <%= f.label :plusa %>
        <%= f.text_field :plusa %>
        <%= f.label :plusb %>
        <%= f.text_field :plusb %>
    	<%= link_to_remove_association "刪除物件", f %>
    </div>
</div>
