<p id="notice"><%= notice %></p>

<table >
  <!-- 第一列 -->
    <tr>
        <th>案號</th>
        <td>
            <%= @yfcase.casenumber %>
        </td>
        <th>地址</th>
        <td colspan="3"><%= @yfcase.address %></td>
    </tr>

  <!-- 第二列 -->
    <tr>
        <th>債務人</th>
        <td>
            <%= @yfcase.debtor %>
        </td>
        <th>債權人</th>
        <td colspan="3"><%= @yfcase.creditor %></td>
    </tr>

    <!-- 第三列 -->
    <tr>
        <th>地號</th>
        <td>
            <% @yfcase.lands.each do |land| %>
              <%= land.landnumber %><br>
            <% end %>
        </td>
        <th rowspan="2">地坪</th>
        <td rowspan="2"><%= @yfcase.landarea %></td>
        <th rowspan="2">持分</th>
        <td rowspan="2"><%= @yfcase.landholdingpoint %></td>
    </tr>
    <tr>
      <th>地號謄本</th>
    <td><%= @yfcase.landurl %></td>
    </tr>

    <!-- 第四列 -->
    <tr>
        <th>建號</th>
        <td>
          <% @yfcase.builds.each do |build| %>
            <%= build.buildnumber %><br>
          <% end %>
        </td>
        <th rowspan="2">建坪</th>
        <td rowspan="2"><%= @yfcase.buildarea %></td>
        <th rowspan="2">持分</th>
        <td rowspan="2"><%= @yfcase.buildholdingpoint %></td>
        <th>建物型/使用</th>
        <td><%= @yfcase.buildtype %></td>

    </tr>
    <tr>
      <th>建號謄本</th>
    <td><%= @yfcase.buildurl %></td>
    <th>使用分區</th>
        <td><%= @yfcase.usearea %></td>
    </tr>

    <!-- 第五列 -->
    <tr>
      <th rowspan="5">拍賣日</th>
      <td rowspan="5"><%= @yfcase.auctionday %></td>
      <th colspan="2">拍別</th>
      <th>底價(NT)</th>
      <th>坪價(坪)</th>
      <th>時價(坪)</th>
      <th>CP</th>
      <th>建議加價</th>
      <th>保証金</th>
    </tr>
    <tr>
      <td><% if @yfcase.auctionlevel == "第一拍" %>V<% end %></td>
      <th>第一拍</th>
      <td><% if @yfcase.auctionlevel == "第一拍" %><%= @yfcase.floorprice %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第一拍" %><%= @yfcase.price %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第一拍" %><%= @yfcase.currentprice %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第一拍" %><%= @cp %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第一拍" %><%= @yfcase.suggestedincrease %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第一拍" %><%= @yfcase.margin %><% end %></td>
    </tr>

    <tr>
      <td><% if @yfcase.auctionlevel == "第二拍" %>V<% end %></td>
      <th>第二拍</th>
      <td><% if @yfcase.auctionlevel == "第二拍" %><%= @yfcase.floorprice %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第二拍" %><%= @yfcase.price %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第二拍" %><%= @yfcase.currentprice %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第二拍" %><%= @cp %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第二拍" %><%= @yfcase.suggestedincrease %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第二拍" %><%= @yfcase.margin %><% end %></td>
    </tr>
    <tr>
      <td><% if @yfcase.auctionlevel == "第三拍" %>V<% end %></td>
      <th>第三拍</th>
      <td><% if @yfcase.auctionlevel == "第三拍" %><%= @yfcase.floorprice %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第三拍" %><%= @yfcase.price %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第三拍" %><%= @yfcase.currentprice %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第三拍" %><%= @cp %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第三拍" %><%= @yfcase.suggestedincrease %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第三拍" %><%= @yfcase.margin %><% end %></td>
    </tr>
    <tr>
      <td><% if @yfcase.auctionlevel == "第四拍" %>V<% end %></td>
      <th>第四拍</th>
      <td><% if @yfcase.auctionlevel == "第四拍" %><%= @yfcase.floorprice %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第四拍" %><%= @yfcase.price %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第四拍" %><%= @yfcase.currentprice %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第四拍" %><%= @cp %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第四拍" %><%= @yfcase.suggestedincrease %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第四拍" %><%= @yfcase.margin %><% end %></td>
    </tr>
</table>
<%= link_to 'Edit', edit_yfcase_path(@yfcase) %> |
<%= link_to 'Back', yfcases_path %>
