<p id="notice"><%= notice %></p>

<table >
  <!-- 第一列 -->
    <tr>
        <th>案號</th>
        <td>
            <%= @yfcase.casenumber %>
        </td>
        <th>地址</th>
        <td colspan="3"><%= @yfcase.address %></td>
    </tr>

  <!-- 第二列 -->
    <tr>
        <th>債務人</th>
        <td>
            <%= @yfcase.debtor %>
        </td>
        <th>債權人</th>
        <td colspan="3"><%= @yfcase.creditor %></td>
    </tr>

    <!-- 第三列 -->
    <tr>
        <th>地號</th>
        <td>
            <% @yfcase.lands.each do |land| %>
              <%= land.landnumber %><br>
            <% end %>
        </td>
        <th rowspan="2">地坪</th>
        <td rowspan="2"><%= @yfcase.landarea %></td>
        <th rowspan="2">持分</th>
        <td rowspan="2"><%= @yfcase.landholdingpointperson %>/<%= @yfcase.landholdingpointall %></td>
    </tr>
    <tr>
      <th>地號謄本</th>
    <td><%= @yfcase.landurl %></td>
    </tr>

    <!-- 第四列 -->
    <tr>
        <th>建號</th>
        <td>
          <% @yfcase.builds.each do |build| %>
            <%= build.buildnumber %><br>
          <% end %>
        </td>
        <th rowspan="2">建坪</th>
        <td rowspan="2"><%= @yfcase.buildarea %> 平方公尺<br><%= @buildarea.round(2) %> 坪</td>
        <th rowspan="2">持分</th>
        <td rowspan="2"><%= @yfcase.buildholdingpointperson %>/<%= @yfcase.buildholdingpointall %></td>
        <td style="border-left:hidden;border-bottom:hidden;"><%= @buildholdingpointaream2.round(2) %> 平方公尺</td>
        <th>建物型/使用</th>
        <td><%= @yfcase.buildtype %></td>

    </tr>
    <tr>
      <th>建號謄本</th>
    <td><%= @yfcase.buildurl %></td>
    <td style="border-left:hidden;border-top:hidden;"><%= @buildholdingpointarea.round(2) %> 坪</td>
    <th>使用分區</th>
        <td><%= @yfcase.usearea %></td>
    </tr>

    <!-- 第五列 -->
    <tr>
      <th rowspan="5">拍賣日</th>
      <td rowspan="5"><%= @yfcase.auctionday %></td>
      <th colspan="2">拍別</th>
      <th>底價(NT)</th>
      <th>坪價(坪)</th>
      <th>時價(坪)</th>
      <th>CP</th>
      <th>建議加價</th>
      <th>保証金</th>
    </tr>
    <tr>
      <td><% if @yfcase.auctionlevel == "第一拍" %>V<% end %></td>
      <th>第一拍</th>
      <td><% if @yfcase.auctionlevel == "第一拍" %><%= number_to_currency(@yfcase.floorprice, unit: "", precision: 0 ) %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第一拍" %><%= number_to_currency(@buildprice, unit: "", precision: 0 ) %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第一拍" %><%= number_to_currency(nowprice(buildplus(@objectbuilds.find(1).totalprice,@objectbuilds.find(1).buildarea,@objectbuilds.find(1).plusa,@objectbuilds.find(1).plusb),buildplus(@objectbuilds.find(2).totalprice,@objectbuilds.find(1).buildarea,@objectbuilds.find(2).plusa,@objectbuilds.find(2).plusb)), unit: "", precision: 0 ) %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第一拍" %><%= @cp %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第一拍" %><%= number_to_currency(@yfcase.suggestedincrease, unit: "", precision: 0 ) %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第一拍" %><%= number_to_currency(@yfcase.margin, unit: "", precision: 0 ) %><% end %></td>
    </tr>

    <tr>
      <td><% if @yfcase.auctionlevel == "第二拍" %>V<% end %></td>
      <th>第二拍</th>
      <td><% if @yfcase.auctionlevel == "第二拍" %><%= number_to_currency(@yfcase.floorprice, unit: "", precision: 0 ) %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第二拍" %><%= number_to_currency(@buildprice, unit: "", precision: 0 ) %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第二拍" %><%= number_to_currency(nowprice(buildplus(@objectbuilds.find(1).totalprice,@objectbuilds.find(1).buildarea,@objectbuilds.find(1).plusa,@objectbuilds.find(1).plusb),buildplus(@objectbuilds.find(2).totalprice,@objectbuilds.find(1).buildarea,@objectbuilds.find(2).plusa,@objectbuilds.find(2).plusb)), unit: "", precision: 0 ) %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第二拍" %><%= @cp %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第二拍" %><%= number_to_currency(@yfcase.suggestedincrease, unit: "", precision: 0 ) %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第二拍" %><%= number_to_currency(@yfcase.margin, unit: "", precision: 0 ) %><% end %></td>
    </tr>
    <tr>
      <td><% if @yfcase.auctionlevel == "第三拍" %>V<% end %></td>
      <th>第三拍</th>
      <td><% if @yfcase.auctionlevel == "第三拍" %><%= number_to_currency(@yfcase.floorprice, unit: "", precision: 0 ) %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第三拍" %><%= number_to_currency(@buildprice, unit: "", precision: 0 ) %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第三拍" %><%= number_to_currency(nowprice(buildplus(@objectbuilds.find(1).totalprice,@objectbuilds.find(1).buildarea,@objectbuilds.find(1).plusa,@objectbuilds.find(1).plusb),buildplus(@objectbuilds.find(2).totalprice,@objectbuilds.find(1).buildarea,@objectbuilds.find(2).plusa,@objectbuilds.find(2).plusb)), unit: "", precision: 0 ) %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第三拍" %><%= @cp %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第三拍" %><%= number_to_currency(@yfcase.suggestedincrease, unit: "", precision: 0 ) %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第三拍" %><%= number_to_currency(@yfcase.margin, unit: "", precision: 0 ) %><% end %></td>
    </tr>
    <tr>
      <td><% if @yfcase.auctionlevel == "第四拍" %>V<% end %></td>
      <th>第四拍</th>
      <td><% if @yfcase.auctionlevel == "第四拍" %><%= number_to_currency(@yfcase.floorprice, unit: "", precision: 0 ) %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第四拍" %><%= number_to_currency(@buildprice, unit: "", precision: 0 ) %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第四拍" %><%= number_to_currency(nowprice(buildplus(@objectbuilds.find(1).totalprice,@objectbuilds.find(1).buildarea,@objectbuilds.find(1).plusa,@objectbuilds.find(1).plusb),buildplus(@objectbuilds.find(2).totalprice,@objectbuilds.find(1).buildarea,@objectbuilds.find(2).plusa,@objectbuilds.find(2).plusb)), unit: "", precision: 0 ) %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第四拍" %><%= @cp %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第四拍" %><%= number_to_currency(@yfcase.suggestedincrease, unit: "", precision: 0 ) %><% end %></td>
      <td><% if @yfcase.auctionlevel == "第四拍" %><%= number_to_currency(@yfcase.margin, unit: "", precision: 0 ) %><% end %></td>
    </tr>

    <!-- 勘查記錄 -->
    <tr>
      <th rowspan="10">勘查記錄</th>
      <th>初勘日期</th>
      <td colspan="8"><%= @yfcase.firstsurveydate %>
        
      </td>
    </tr>
    <tr>
      <th>會勘日期</th>
      <td colspan="8"><%= @yfcase.othersurveydate %></td>
    </tr>
    <tr>
      <th>勘查記錄</th>
      <td colspan="8">
        <table>
          <tr>
            <th>地址</th>
            <th>總價(萬)</th>
            <th>建坪(萬)</th>
            <th>單價(萬)</th>
            <th>屋齡(年)</th>
            <th>單位</th>
            <th>樓高</th>
     
            <th>勘查員A</th>
            <th>加成A</th>
            <th>勘查員B</th>
            <th>加成B</th>
          </tr>
            <% @yfcase.objectbuilds.each do |objectbuild| %>
              <tr>
                <td><%= objectbuild.address %></td>
                <td><%= objectbuild.totalprice %></td>
                <td><%= objectbuild.buildarea %></td>
                <td><%= divtwo(objectbuild.totalprice,objectbuild.buildarea).round(2) %></td>
                <td><%= objectbuild.house %></td>
                <td><%= objectbuild.unit %></td>
                <td><%= objectbuild.floorheight %></td>
          
                <td><%= objectbuild.surveyora %></td>
                <td><%= objectbuild.plusa %></td>
                <td><%= objectbuild.surveyorb %></td>
                <td><%= objectbuild.plusb %></td>
              </tr>
            <% end %>
        </table>
      </td>
    </tr>
    <tr>
      <th>法拍公告(證物三)</th>
      <td colspan="8"><%= @yfcase.foreclosureannouncement %></td>
    </tr>
    <tr>
      <th>物件照片(證物四)</th>
      <td colspan="8"><%= @yfcase.objectphotos %></td>
    </tr>
    <tr>
      <th>實價登錄市價</th>
      <td colspan="8"><%= @yfcase.registeredmarketprice %></td>
    </tr>
    <tr>
      <th>實價登錄地圖(證物五)</th>
      <td colspan="8"><%= @yfcase.registrationmap %></td>
    </tr>
    <tr>
      <th>實價登錄照片(證物六)</th>
      <td colspan="8"><%= @yfcase.registrationphoto %></td>
    </tr>
    <tr>
      <th>法拍記錄(證物七)</th>
      <td colspan="8"><%= @yfcase.foreclosurerecord %></td>
    </tr>
    <tr>
      <th>備註</th>
      <td colspan="8"><%= @yfcase.surveyremark %></td>
    </tr>

    <!-- 會勘決議 -->
    <tr>
      <th>會勘決議</th>
      <td colspan="9"><%= @yfcase.surveyresolution %></td>
    </tr>

    <!-- 最終決定 -->
    <tr>
      <th rowspan="6">最終決定</th>
      <th>區域負責人</th>
      <th>結論</th>
      <th colspan="2">副署人員</th>
      <th>同意/不同意</th>
    </tr>

    <tr>
      <td rowspan="5"><%= @yfcase.finaldecisionheader %></td>
      <td rowspan="5"><%= @yfcase.finaldecisionconclusion %></td>
      <th>勘查員1</th>
      <td><%= @yfcase.finaldecisionsurveyordecide1 %></td>
      <td><%= @yfcase.finaldecisionsurveyordecide1 %></td>
    </tr>
    <tr>
      <th>勘查員2</th>
      <td><%= @yfcase.finaldecisionsurveyordecide2 %></td>
      <td><%= @yfcase.finaldecisionsurveyordecide2 %></td>
    </tr>
    <tr>
      <th>勘查員3</th>
      <td><%= @yfcase.finaldecisionsurveyordecide3 %></td>
      <td><%= @yfcase.finaldecisionsurveyordecide3 %></td>
    </tr>
    <tr>
      <th>勘查員4</th>
      <td><%= @yfcase.finaldecisionsurveyordecide4 %></td>
      <td><%= @yfcase.finaldecisionsurveyordecide4 %></td>
    </tr>
    <tr>
      <th>勘查員5</th>
      <td><%= @yfcase.finaldecisionsurveyordecide5 %></td>
      <td><%= @yfcase.finaldecisionsurveyordecide5 %></td>
    </tr>
</table>
<%= link_to 'Edit', edit_yfcase_path(@yfcase) %> |
<%= link_to 'Back', yfcases_path %>
