<p id="notice"><%= notice %></p>

<!-- YF評量表 -->
<h1 class="x110000">YF評量表</h1>

<% @yfcase.personnals.where(debtor: true).find_each(batch_size: 1) do |personnal| %>
        <%= personnal.name %>
<% end %>

<%= @yfcase.personnals.where(debtor: true).count %>

<%= @yfcase.personnals.where(debtor: true).first.name %>

<!-- 基本資料 -->
<div class="basedata">
    <table class="table">
        <tr>
            <th class="x110001">案號</th>
            <td class="x120001">
                <%= @yfcase.casenumber %>
            </td>
            <th class="x110002">債務人</th>
            <td class="x120002">
                <% if @yfcase.personnals.where(debtor: true).count > 1 %>
                    <%= @yfcase.personnals.where(debtor: true).first.name %> ...共<%= @yfcase.personnals.where(debtor: true).count %>名
                <% elsif @yfcase.personnals.where(debtor: true).count == 1 %>
                    <%= @yfcase.personnals.where(debtor: true).first.name %>
                <% else %>
                    <%= ' ' %>
                <% end %>
            </td>
            <th class="x110002">債權人</th>
            <td class="x120002">
                <% if @yfcase.personnals.where(creditor: true).count > 1 %>
                    <%= @yfcase.personnals.where(creditor: true).first.name %> ...共<%= @yfcase.personnals.where(creditor: true).count %>名
                <% elsif @yfcase.personnals.where(creditor: true).count == 1 %>
                    <%= @yfcase.personnals.where(creditor: true).first.name %>
                <% else %>
                    <%= ' ' %>
                <% end %>
            </td>
        </tr>
        <tr>
            <th class="x110003">地址</th>
            <td class="x120003">
                <%= @yfcase.township.try(:zip_code) %> <%= @yfcase.county.try(:name) %><%= @yfcase.township.try(:name) %><%= @yfcase.address %>
            </td>
        </tr>
    </table>
</div>
<br>

<!-- 土地 -->
<div class="land">
    <table class="table">
        <tr>
            <th>地號</th>
            <th>地號謄本</th>
            <th>地坪(面積)<br>平方公尺(坪)</th>
            <th>持分</th>
            <th>地坪(持分)<br>平方公尺(坪)</th>
            <td></td>
            <th>地坪(面積)<br>平方公尺(坪)</th>
            <td></td>
            <th>建坪(面積)<br>平方公尺(坪)</th>
        </tr>
        <tr>
            <td>
                <% @yfcase.lands.each do |land| %>
                <%= land.landnumber %><br>
                <% end %>
            </td>
            <td>
                <% @yfcase.lands.each do |land| %>
                <% if land.landurl == "" %>
                <%= link_to " " %> <br>
                <% else%>
                <%= link_to "連結", land.landurl, target: "_blank" %>　<br>
                <% end %>
                <% end %>
            </td>
            <td>
                <% @yfcase.lands.each do |land| %>
                <%= area(land.landarea,1,1,1).round(2) %> (
                <%= area(land.landarea,1,1,0.3025).round(2) %>) <br>
                <% end %>
            </td>
            <td>
                <% @yfcase.lands.each do |land| %>
                <%= land.landholdingpointperson %>/
                <%= land.landholdingpointall %> <br>
                <% end %>
            </td>
            <td>
                <% @yfcase.lands.each do |land| %>
                <%= area(land.landarea,land.landholdingpointperson,land.landholdingpointall,1).round(2) %> (
                <%= area(land.landarea,land.landholdingpointperson,land.landholdingpointall,0.3025).round(2) %>) <br>
                <% end %>
            </td>
            <td></td>
            <td>
                <% if @yfcase.lands.count ==0 %>
                <%= " " %>
                <% else %>
                <%= number_to_currency(@landtotalarea, unit: "", precision: 2) %> (
                <%= number_to_currency(@landtotalarea * 0.3025, unit: "", precision: 2) %>)
                <% end %>
            </td>
            <td></td>
            <td>
                <% if @yfcase.builds.count ==0 %>
                <%= " " %>
                <% else %>
                <%= number_to_currency(@buildtotalarea, unit: "", precision: 2) %> (
                <%= number_to_currency(@buildtotalarea * 0.3025, unit: "", precision: 2) %>)
                <% end %>
            </td>
        </tr>
    </table>
</div>
<br>  

<!-- 建物 -->
<div class="build">
    <table class="table">
        <tr>
            <th>建號</th>
            <th>建號謄本</th>
            <th>建坪(面積)<br>平方公尺(坪)</th>
            <th>持分</th>
            <th>建坪(持分)<br>平方公尺(坪)</th>
            <th>建物型/使用</th>
            <th>使用分區</th>
        </tr>
        <% @yfcase.builds.each do |build| %>
        <tr>
            <td>
                <%= build.buildnumber %>
            </td>
            <td>
                <% if build.buildurl == "" %>
                <%= link_to " " %> <br>
                <% else%>
                <%= link_to "連結", build.buildurl, target: "_blank" %>
                <% end %>
            </td>
            <td>
                <%= area(build.buildarea,1,1,1).round(2) %> (
                <%= area(build.buildarea,1,1,0.3025).round(2) %>)
            </td>
            <td>
                <%= build.buildholdingpointperson %>/
                <%= build.buildholdingpointall %>
            </td>
            <td>
                <%= area(build.buildarea,build.buildholdingpointperson,build.buildholdingpointall,1).round(2) %> (
                <%= area(build.buildarea,build.buildholdingpointperson,build.buildholdingpointall,0.3025).round(2) %>)
            </td>
            <td>
                <%= build.buildtype %>
            </td>
            <td>
                <%= build.usearea %>
            </td>
        </tr>
        <% end %>
    </table>
</div>
<br>

<!-- 拍賣結果 -->
<div class="auction">
    <table class="table">
        <tr>
            <th>拍賣日</th>
            <th colspan="4">拍別(可進場CP值)</th>
            <th>底價(NT)<br><small style="color:red;">各拍建議底價</small></th>
            <th>坪價(NT)</th>
            <th>時價(NT)</th>
            <th>CP</th>
            <th>點閱</th>
            <th>監控</th>
            <th>建議加價</th>
            <th>保証金</th>
            <th>備註</th>
        </tr>
        <!-- 第一拍 -->
        <tr>
            <!-- 拍別：第一拍 -->
            <td>
                <%= @yfcase.floorprice1 == 0 ? ' ' : @yfcase.auctionday1 %>
            </td>
            <th>第一拍</th>
            <th>0.92</th>
            <th>1.15</th>
            <th>1.44</th>
            <!-- 第一拍：底價 -->
            <td>
                <%= @yfcase.floorprice1 == 0 ? ' ' : currency_helper(@yfcase.floorprice1,0) %>
            </td>
            <!-- 第一拍：坪價 -->
            <td>
                <%= (@yfcase.floorprice1 == 0 || @yfcase.builds.count == 0) ? ' ' : currency_helper(@pingprice1,0) %>
            </td>
            <!-- 第一拍：時價 -->
            <td>
                <%= (@yfcase.floorprice1 == 0 || @yfcase.objectbuilds.count == 0) ? ' ' : currency_helper(@marketprice,0) %>
            </td>
            <!-- 第一拍：CP值 -->
            <td>
                <%= (@yfcase.floorprice1 == 0 || @yfcase.builds.count == 0 || @yfcase.objectbuilds.count == 0) ? ' ' : (@marketprice / @pingprice1).round(2) %>
            </td>
            <!-- 第一拍：點閱 -->
            <td>
                <%= @yfcase.floorprice1 == 0 ? ' ' : @yfcase.click1 %>
            </td>
            <!-- 第一拍：監控 -->
            <td>
                <%= @yfcase.floorprice1 == 0 ? ' ' : @yfcase.monitor1 %>
            </td>
            <!-- 第一拍：建議加價 -->
            <td>
                <%= @yfcase.floorprice1 == 0 ? ' ' : suggestedincrease(@yfcase.floorprice1,@yfcase.click1,@yfcase.monitor1) %>
            </td>
            <!-- 第一拍：保証金 -->
            <td>
                <%= @yfcase.floorprice1 == 0 ? ' ' : currency_helper(@yfcase.margin1,0) %>
            </td>
            <!-- 第一拍：備註 -->
            <td>
            </td>
        </tr>
        <!-- 第二拍 -->
        <tr>
            <!-- 拍別：第二拍 -->
            <td>
                <%= @yfcase.floorprice2 == 0 ? ' ' : @yfcase.auctionday2 %>
            </td>
            <th>第二拍</th>
            <th>1.15</th>
            <th>1.44</th>
            <th>1.80</th>
            <!-- 第二拍：底價 -->
            <td>
                <%= @yfcase.floorprice2 == 0 ? ' ' : currency_helper(@yfcase.floorprice2,0) %>
                <!-- 第二拍建議底價 -->
                <% if @yfcase.floorprice1 != 0 %>
                    <br><small style="color:red;"><%= currency_helper(@yfcase.floorprice1 * 0.8 ,0) %></small>
                <% else %>
                    <%= " " %>
                <% end %>
            </td>
            <!-- 第二拍：坪價 -->
            <td>
                <%= (@yfcase.floorprice2 == 0 || @yfcase.builds.count == 0) ? ' ' : currency_helper(@pingprice2,0) %>
            </td>
            <!-- 第二拍：時價 -->
            <td>
                <%= (@yfcase.floorprice2 == 0 || @yfcase.objectbuilds.count == 0) ? ' ' : currency_helper(@marketprice,0) %>
            </td>
            <!-- 第二拍：CP值 -->
            <td>
                <%= (@yfcase.floorprice2 == 0 || @yfcase.builds.count == 0 || @yfcase.objectbuilds.count == 0) ? ' ' : (@marketprice / @pingprice2).round(2) %>
            </td>
            <!-- 第二拍：點閱 -->
            <td>
                <%= @yfcase.floorprice2 == 0 ? ' ' : @yfcase.click2 %>
            </td>
            <!-- 第二拍：監控 -->
            <td>
                <%= @yfcase.floorprice2 == 0 ? ' ' : @yfcase.monitor2 %>
            </td>
            <!-- 第二拍：建議加價 -->
            <td>
                <%= @yfcase.floorprice2 == 0 ? ' ' : suggestedincrease(@yfcase.floorprice2,@yfcase.click2,@yfcase.monitor2) %>
            </td>
            <!-- 第二拍：保証金 -->
            <td>
                <%= @yfcase.floorprice2 == 0 ? ' ' : currency_helper(@yfcase.margin2,0) %>
            </td>
            <!-- 第二拍：備註 -->
            <td>

            </td>
        </tr>
        <!-- 第三拍 -->
        <tr>
            <!-- 拍別：第三拍 -->
            <td>
                <%= @yfcase.floorprice3 == 0 ? ' ' : @yfcase.auctionday3 %>
            </td>
            <th>第三拍</th>
            <th>1.44</th>
            <th>1.80</th>
            <th>2.25</th>
            <!-- 第三拍：底價 -->
            <td>
                <%= @yfcase.floorprice3 == 0 ? ' ' : currency_helper(@yfcase.floorprice3,0) %>
                <!-- 第三拍建議底價 -->
                <% if @yfcase.floorprice2 != 0 %>
                    <br><small style="color:red;"><%= currency_helper(@yfcase.floorprice2 * 0.8 ,0) %></small>
                <% elsif @yfcase.floorprice1 != 0 %>
                    <br><small style="color:red;"><%= currency_helper(@yfcase.floorprice1 * 0.8 * 0.8 ,0) %></small>
                <% else %>
                    <%= " " %>
                <% end %> 
            </td>
            <!-- 第三拍：坪價 -->
            <td>
                <%= (@yfcase.floorprice3 == 0 || @yfcase.builds.count == 0) ? ' ' : currency_helper(@pingprice3,0) %>
            </td>
            <!-- 第三拍：時價 -->
            <td>
                <%= (@yfcase.floorprice3 == 0 || @yfcase.objectbuilds.count == 0) ? ' ' : currency_helper(@marketprice,0) %>
            </td>
            <!-- 第三拍：CP值 -->
            <td>
                <%= (@yfcase.floorprice3 == 0 || @yfcase.builds.count == 0 || @yfcase.objectbuilds.count == 0) ? ' ' : (@marketprice / @pingprice3).round(2) %>
            </td>
            <!-- 第三拍：點閱 -->
            <td>
                <%= @yfcase.floorprice3 == 0 ? ' ' : @yfcase.click3 %>
            </td>
            <!-- 第三拍：監控 -->
            <td>
                <%= @yfcase.floorprice3 == 0 ? ' ' : @yfcase.monitor3 %>
            </td>
            <!-- 第三拍：建議加價 -->
            <td>
                <%= @yfcase.floorprice3 == 0 ? ' ' : suggestedincrease(@yfcase.floorprice3,@yfcase.click3,@yfcase.monitor3) %>
            </td>
            <!-- 第三拍：保証金 -->
            <td>
                <%= @yfcase.floorprice3 == 0 ? ' ' : currency_helper(@yfcase.margin3,0) %>
            </td>
            <!-- 第三拍：備註 -->
            <td>
            </td>
        </tr>
        <!-- 第四拍 -->
        <tr>
            <!-- 拍別：第四拍 -->
            <td>
                <%= @yfcase.floorprice4 == 0 ? ' ' : @yfcase.auctionday4 %>
            </td>
            <th>第四拍</th>
            <th>1.80</th>
            <th>2.25</th>
            <th>2.81</th>
            <!-- 第四拍：底價 -->
            <td>
                <%= @yfcase.floorprice4 == 0 ? ' ' : currency_helper(@yfcase.floorprice4,0) %>
                <!-- 第四拍建議底價 -->
                <% if @yfcase.floorprice3 != 0 %>
                    <br><small style="color:red;"><%= currency_helper(@yfcase.floorprice3 * 0.8 ,0) %></small>
                <% elsif @yfcase.floorprice2 != 0 %>
                    <br><small style="color:red;"><%= currency_helper(@yfcase.floorprice2 * 0.8 * 0.8 ,0) %></small>
                <% elsif @yfcase.floorprice1 != 0 %>
                    <br><small style="color:red;"><%= currency_helper(@yfcase.floorprice1 * 0.8 * 0.8 * 0.8 ,0) %></small>
                <% else %>
                    <%= " " %>
                <% end %>
            </td>
            <!-- 第四拍：坪價 -->
            <td>
                <%= (@yfcase.floorprice4 == 0 || @yfcase.builds.count == 0) ? ' ' : currency_helper(@pingprice4,0) %>
            </td>
            <!-- 第四拍：時價 -->
            <td>
                <%= (@yfcase.floorprice4 == 0 || @yfcase.objectbuilds.count == 0) ? ' ' : currency_helper(@marketprice,0) %>
            </td>
            <!-- 第四拍：CP值 -->
            <td>
                <%= (@yfcase.floorprice4 == 0 || @yfcase.builds.count == 0 || @yfcase.objectbuilds.count == 0) ? ' ' : (@marketprice / @pingprice4).round(2) %>
            </td>
            <!-- 第四拍：點閱 -->
            <td>
                <%= @yfcase.floorprice4 == 0 ? ' ' : @yfcase.click4 %>
            </td>
            <!-- 第四拍：監控 -->
            <td>
                <%= @yfcase.floorprice4 == 0 ? ' ' : @yfcase.monitor4 %>
            </td>
            <!-- 第四拍：建議加價 -->
            <td>
                <%= @yfcase.floorprice4 == 0 ? ' ' : suggestedincrease(@yfcase.floorprice4,@yfcase.click4,@yfcase.monitor4) %>
            </td>
            <!-- 第四拍：保証金 -->
            <td>
                <%= @yfcase.floorprice4 == 0 ? ' ' : currency_helper(@yfcase.margin4,0) %>
            </td>
            <!-- 第四拍：備註 -->
            <td>
            </td>
        </tr>
    </table>
</div>
<br>

<!-- 勘查結果 -->
<div class="attachment">
    <table class="table">
        <tr>
            <th>初勘日</th>
            <td>
                <%= @yfcase.firstsurveydate %>
            </td>
        </tr>
        <tr>
            <th>會勘日</th>
            <td>
                <%= @yfcase.othersurveydate %>
            </td>
        </tr>
        <tr>
            <th>法拍公告(證物三)</th>
            <td>
                <%= @yfcase.foreclosureannouncement %> <br>
                <%= link_to @yfcase.foreclosureannouncementtext, @yfcase.foreclosureannouncementlink, target: "_blank" %>
            </td>
        </tr>
        <tr>
            <th>物件照片(證物四)</th>
            <td>
                <%= link_to @yfcase.objectphotos, @yfcase.objectphotoslink, target: "_blank" %>
            </td>
        </tr>
        <tr>
            <th>實價登錄市價</th>
            <td>
                <table>
                    <tr>
                        <th>附件</th>
                        <th>地址</th>
                        <th>總價(萬)</th>
                        <th>建坪(坪)</th>
                        <th>單價(萬)</th>
                        <th>屋齡(年)</th>
                        <th>單位</th>
                        <th>樓高</th>
                        <th>勘查員A</th>
                        <th>加成A</th>
                        <th>勘查員B</th>
                        <th>加成B</th>
                        <th>計算</th>
                        <th>加成A</th>
                    </tr>
                    <% @yfcase.objectbuilds.each do |objectbuild| %>
                    <tr>
                        <td>
                            <% if objectbuild.objectbuildurl == "" %>
                            <%= link_to "" %>
                            <% else %>
                            <%= link_to "連結", objectbuild.objectbuildurl, target: "_blank" %>
                            <% end %>
                        </td>
                        <td>
                            <%= objectbuild.address %>
                        </td>
                        <td>
                            <%= objectbuild.totalprice %>
                        </td>
                        <td>
                            <%= objectbuild.buildarea %>
                        </td>
                        <td>
                            <%= holdingpoint(objectbuild.totalprice,objectbuild.buildarea).round(2) %>
                        </td>
                        <td>
                            <%= objectbuild.house %>
                        </td>
                        <td>
                            <%= objectbuild.unit %>
                        </td>
                        <td>
                            <%= objectbuild.floorheight %>
                        </td>
                        <td>
                            <%= objectbuild.surveyora %>
                            <% if objectbuild.objectplusrates == [] %>
                                <%= ' ' %>
                            <% else %>
                                <% @persona= objectbuild.objectplusrates.first.persona %>
                                <%= @persona %>
                            <% end %>
                        </td>
                        <td>
                            <%= objectbuild.plusa %>
                            <% if objectbuild.objectplusrates == [] %>
                                <%= ' ' %>
                            <% else %>
                                <% @personaplus=objectbuild.objectplusrates.first.personaplus %>
                                <%= @personaplus %>
                            <% end %>
                            <!-- undefined method `personaplus' for nil:NilClass -->
                        </td>
                        <td>
                            <%= objectbuild.surveyorb %>
                        </td>
                        <td>
                            <%= objectbuild.plusb %>
                            <% if objectbuild.objectplusrates == [] %>
                                <%= ' ' %>
                            <% else %>
                                <% @personbplus=objectbuild.objectplusrates.first.personbplus %>
                                <%= @personbplus %>
                            <% end %>
                        </td>
                        <td>
                            <% @totalmesa = testvalue(objectbuild.totalprice.to_f/objectbuild.buildarea.to_f,@personaplus,@personbplus)*10000 %>
                            <%= number_to_currency(@totalmesa, unit: "", precision: 0 ) %>
                        </td>
                        <td>
                            <% if objectbuild.objectplusrates == [] %>
                                 <%= link_to "勘查員A", new_yfcase_objectbuild_objectplusrate_path(@yfcase,objectbuild),class: "btn btn-danger btn-sm" %>
                            <% else %>
                                <%= link_to "勘查員A", new_yfcase_objectbuild_objectplusrate_path(@yfcase,objectbuild), :disabled => true, class: "btn btn-danger btn-sm" %>
                            <% end %>
                        </td>
                    </tr>
                    <% end %>
                </table>
                <%= link_to @yfcase.registeredmarketpricetext, @yfcase.registeredmarketpricelink, target: "_blank" %>
            </td>
        </tr>
        <tr>
            <th>實價登錄地圖(證物五)</th>
            <td>
                <%= link_to @yfcase.registrationmap, @yfcase.registrationmaplink, target: "_blank" %>
            </td>
        </tr>
        <tr>
            <th>實價登錄照片(證物六)</th>
            <td>
                <%= link_to @yfcase.registrationphoto, @yfcase.registrationphotolink, target: "_blank" %>
            </td>
        </tr>
        <tr>
            <th>法拍記錄(證物七)</th>
            <td>
                <%= link_to @yfcase.foreclosurerecord, @yfcase.foreclosurerecordlink, target: "_blank" %>
            </td>
        </tr>
        <tr>
            <th>備註</th>
            <td>
                <%= link_to @yfcase.surveyremark %>
            </td>
        </tr>
        <tr>
            <th>會勘決議</th>
            <td>
                <%= @yfcase.surveyresolution %>
            </td>
        </tr>
    </table>
</div>
<br>
<%= buttonyes %>
<!-- 建物查檢表 -->
<div class="buildchecklist">
    <table class="table">
        <tr>
            <th>有(是) / 無(否)</th>
            <th>查檢內容</th>
            <th>有(是) / 無(否)</th>
            <th>查檢內容</th>
        </tr>
        <!-- 第一行 -->
        <tr>
            <td>
                <%= buttonyeson(@yfcase.occupyneighbouringland) %>
            </td>
            <th>01.建物坐落是否無占用鄰地</th>
            <td>
                <%= buttonyeson(@yfcase.vegetablemarket) %>
            </td>
            <th>09.是否鄰近菜市場</th>
        </tr>
        <!-- 第二行 -->
        <tr>
            <td>
                <%= buttonyeson(@yfcase.register) %>
            </td>
            <th>02.建物是否無未保存登記建物</th>
            <td>
                <%= buttonyeson(@yfcase.store) %>
            </td>
            <th>10.是否鄰近大賣場</th>
        </tr>
        <!-- 第三行 -->
        <tr>
            <td>
                <%= buttonyeson(@yfcase.parkingspace) %>
            </td>
            <th>03.大樓是否有停車位(機車/汽車)</th>
            <td>
                <%= buttonyeson(@yfcase.school) %>
            </td>
            <th>11.是否鄰近學校</th>
        </tr>
        <!-- 第四行 -->
        <tr>
            <td>
                <%= buttonyeson(@yfcase.managementfee) %>
            </td>
            <th>04.大樓公寓是否有無積欠管理費</th>
            <td>
                <%= buttonyeson(@yfcase.park) %>
            </td>
            <th>12.是否鄰近公園</th>
        </tr>
        <!-- 第五行 -->
        <tr>
            <td>
                <%= buttonyeson(@yfcase.occupy) %>
            </td>
            <th>05.有無出租或出借或佔用</th>
            <td>
                <%= buttonyeson(@yfcase.postoffice) %>
            </td>
            <th>13.是否鄰近郵局或常用機關</th>
        </tr>
        <!-- 第六行 -->
        <tr>
            <td>
                <%= buttonyeson(@yfcase.leak) %>
            </td>
            <th>06.建物是否無嚴重漏水現象</th>
            <td>
                <%= buttonyeson(@yfcase.mainroad) %>
            </td>
            <th>14.是否鄰近幹道</th>
        </tr>
        <!-- 第七行 -->
        <tr>
            <td>
                <%= buttonyeson(@yfcase.easyparking) %>
            </td>
            <th>07.建物前或附近是否停車方便</th>
            <td>
                <%= buttonyeson(@yfcase.waterandpowerfailure) %>
            </td>
            <th>15.是否斷水斷電</th>
        </tr>
        <!-- 第八行 -->
        <tr>
            <td>
                <%= buttonyeson(@yfcase.railway) %>
            </td>
            <th>08.是否鄰近捷運站或台鐵站</th>
            <td>
                <%= buttonyeson(@yfcase.goodvision) %>
            </td>
            <th>16.建物採光視野是否良好</th>
        </tr>
        <!-- 備註 -->
        <tr>
            <th>備註</th>
            <td></td>
        </tr>
    </table>
</div>
<br>

<!-- 最終判定 -->
<div class="finaldecision">
    <table class="table">
        <tr>
            <th>結論</th>
            <th>區域負責人</th>
            <th>副署人員1</th>
            <th>副署人員2</th>
            <th>副署人員3</th>
        </tr>
        <tr>
            <td>
                <%= @yfcase.finaldecisionconclusion %>
            </td>
            <td>
                <%= @yfcase.user.first_name %>
                <%= @yfcase.user.last_name %>
            </td>
            <td>
                <%= @yfcase.finaldecisionsurveyordecide1 %>
            </td>
            <td>
                <%= @yfcase.finaldecisionsurveyordecide2 %>
            </td>
            <td>
                <%= @yfcase.finaldecisionsurveyordecide3 %>
            </td>
        </tr>
    </table>
</div>

<br>
<% if @yfcase.editable_by?(current_user) %>
  <div id="showitem">
    <%= link_to '編輯', edit_yfcase_path(@yfcase),class: "btn btn-primary" %> |
    <%= link_to '返回', yfcases_path,class: "btn btn-info" %>
  </div>
<% end %>


