<!DOCTYPE html>
<html>

<head>
    <title>Testyfcase</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">
            <%= link_to 'YF', root_path %>
        </h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <% if user_signed_in? %>
            <a class="p-2 text-dark">(
                <%= current_user.first_name %>
                <%= current_user.last_name %>)</a>
            <%= link_to "建立YF評量表", new_yfcase_path, class: "btn btn-outline-info p-2" %>
            <%= link_to "登出", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger p-2" %>
            <% else %>
            <%= link_to "註冊", new_user_registration_path, class: "btn btn-outline-success p-2" %>
            <%= link_to "登入", new_user_session_path, class: "btn btn-outline-primary p-2" %>
            <% end %>
        </nav>
    </div>
    
    <div class="container">
        <% flash.each do |type, msg| %>
            <div class="alert <%= bootstrap_class_for_flash(type) %> alert-dismissable fade show">
                <%= msg %>
                <button class="close" data-dismiss="alert">x</button>
            </div>
        <% end %>
        <%= yield %>
    </div>
</body>

</html>