<!DOCTYPE html>
<html>

<head>
    <title>Testyfcase</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-brand">
                <%= link_to "YF", root_path %>
            </div>
            <% if user_signed_in? %>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <%= link_to "建立YF評量表", new_yfcase_path %>
                </li>
                <li>
                    <%= link_to "登出", destroy_user_session_path, method: :delete %>
                </li>
            </ul>
            <% else %>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <%= link_to "註冊", new_user_registration_path %>
                </li>
                <li>
                    <%= link_to "登入", new_user_session_path %>
                </li>
            </ul>
            <% end %>
        </div>
    </nav>
    <div class="container">
        <%= yield %>
    </div>

</body>

</html>